<h3>Realms</h3>

<div class="accordion" id="realm-list">
	
	<div class="accordion-group albion">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#realm-list" href="#collapseAlbion">
				Albion
			</a>
		</div>
		<div id="collapseAlbion" class="accordion-body collapse">
			<div class="accordion-inner">
				<ul class="nav nav-list">
					<li><a href="/class/armsman">Armsman</a></li>
					<li><a href="/class/cabalist">Cabalist</a></li>
					<li><a href="/class/cleric">Cleric</a></li>
					<li><a href="/class/friar">Friar</a></li>
					<li><a href="/class/heretic">Heretic</a></li>
					<li><a href="/class/infiltrator">Infiltrator</a></li>
					<li><a href="/class/mauler-alb">Mauler-Alb</a></li>
					<li><a href="/class/mercenary">Mercenary</a></li>
					<li><a href="/class/minstrel">Minstrel</a></li>
					<li><a href="/class/necromancer">Necromancer</a></li>
					<li><a href="/class/paladin">Paladin</a></li>
					<li><a href="/class/reaver">Reaver</a></li>
					<li><a href="/class/scout">Scout</a></li>
					<li><a href="/class/sorcerer">Sorcerer</a></li>
					<li><a href="/class/theurgist">Theurgist</a></li>
					<li><a href="/class/wizard">Wizard</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="accordion-group hibernia">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#realm-list" href="#collapseHibernia">
				Hibernia
			</a>
		</div>
		<div id="collapseHibernia" class="accordion-body collapse">
			<div class="accordion-inner">
				<ul class="nav nav-list">
					<li><a href="/class/animist">Animist</a></li>
					<li><a href="/class/bainshee">Bainshee</a></li>
					<li><a href="/class/bard">Bard</a></li>
					<li><a href="/class/blademaster">Blademaster</a></li>
					<li><a href="/class/champion">Champion</a></li>
					<li><a href="/class/druid">Druid</a></li>
					<li><a href="/class/eldritch">Eldritch</a></li>
					<li><a href="/class/enchanter">Enchanter</a></li>
					<li><a href="/class/hero">Hero</a></li>
					<li><a href="/class/mauler-hib">Mauler-Hib</a></li>
					<li><a href="/class/mentalist">Mentalist</a></li>
					<li><a href="/class/nightshade">Nightshade</a></li>
					<li><a href="/class/ranger">Ranger</a></li>
					<li><a href="/class/valewalker">Valewalker</a></li>
					<li><a href="/class/vampiir">Vampiir</a></li>
					<li><a href="/class/warden">Warden</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="accordion-group midgard">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#realm-list" href="#collapseMidgard">
				Midgard
			</a>
		</div>
		<div id="collapseMidgard" class="accordion-body collapse">
			<div class="accordion-inner">
				<ul class="nav nav-list">
					<li><a href="/class/berserker">Berserker</a></li>
					<li><a href="/class/bonedancer">Bonedancer</a></li>
					<li><a href="/class/healer">Healer</a></li>
					<li><a href="/class/hunter">Hunter</a></li>
					<li><a href="/class/mauler-mid">Mauler-Mid</a></li>
					<li><a href="/class/runemaster">Runemaster</a></li>
					<li><a href="/class/savage">Savage</a></li>
					<li><a href="/class/shadowblade">Shadowblade</a></li>
					<li><a href="/class/shaman">Shaman</a></li>
					<li><a href="/class/skald">Skald</a></li>
					<li><a href="/class/spiritmaster">Spiritmaster</a></li>
					<li><a href="/class/thane">Thane</a></li>
					<li><a href="/class/valkyrie">Valkyrie</a></li>
					<li><a href="/class/warlock">Warlock</a></li>
					<li><a href="/class/warrior">Warrior</a></li>
				</ul>
			</div>
		</div>
	</div>

</div>