{% extends '_layouts/main.twig' %}

{% block main %}

	<h3>{{ user.name }}'s Templates</h3>

	<hr>

	{% include 'home/_template-list.twig' with { 'results': templates } only %}

	<hr>

	<div id="disqus_thread"></div>
	<script type='text/javascript'>disqus_identifier='/user/{{ user.id }}';disqus_url='http://www.daoctemplates.net/user/{{ user.id }}';</script>
	<script type="text/javascript">
	var disqus_shortname = 'daoctemplates';
	(function() {
		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	

{% endblock %}
