{% extends '_layouts/main.twig' %}

{% block main %}

	<p>This view  was compiled @ {{ 'now'|date('m/d/Y H:i:s a') }}</p>

	<p>This view is cached by a Cache Request Handler for 10 seconds.</p>

{% endblock %}
