{% extends '_layouts/main.twig' %}

{% block title %}Create a New Template{% endblock %}

{% block main %}

	<h3>Create a New Template</h3>

	{% include 'template/_template-form.twig' %}

{% endblock %}
